.resume__header {
  margin-bottom: 50px;
  color: #fff;
}

.resume__header li {
  padding: 5px;
}

.link {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fde74c;
}

.link:hover {
  background-color: #3891a6;
}
