.resume-page {
  margin-top: 10%;
}

.resume-page__header {
  color: #bcc6c8;
  
}

.resume-page__header h3 {
  letter-spacing: 1px;
}

.resume-page__header ul {
  list-style: none;
}

.resume-page__header li {
  padding: 5px;
}

.resume-page__title {
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
}

.resume-page__list {
  text-decoration: none;
  padding: 0;
}

.resume-page__body {
  color: #bcc6c8;
  line-height: 1.4rem;
  word-spacing: 3px;
  margin-bottom: 50px;
}

/***** Utilities classes *****/
.link {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fde74c;
}

.link:hover {
  background-color: #3891a6;
}

.text-hightlight {
  color: #fff;
  border-bottom: 2px solid #fde74c;
}

.border-line {
  border-bottom: 1px dotted #fff;
  margin-bottom: 40px;
}
