.resume-section {
  color: #bcc6c8;
  line-height: 1.4rem;
}

.resume-section__subtitle {
  color: #fdb54a;
}

.resume-section__position-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fde74c;
  margin-bottom: -30px;
}

.resume-section li {
  padding: 10px;
}

.border-line {
  border-bottom: 1px solid #fff;
}
