.navbar {
  background-color: #252c2d;
  color: #bcc6c8;
  display: flex;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  list-style: none;
  display: flex;
}

.navbar__link {
  text-decoration: none;
  color: #bcc6c8;
  margin-right: 15px;
  border-radius: 5px;
  padding: 5px 5px;
}

.navbar__link:hover {
  background-color: #3891a6;
  color: white;
}

.navbar__socials {
  list-style: none;
  display: flex;
}

.navbar__social {
  text-decoration: none;
  color: #bcc6c8;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.navbar__social:hover {
  background-color: #3891a6;
  color: white;
}
