/**** Color Palletee ****/
/**
#3891A6 - blue munsell (blueish turquoise)
#4C5B5C - deep space sparkle (grey)
  + #BCC6C8 - light shade (text)
  + #252C2D - Darker shade (body background color)
#FDE74C - yellow
  + #B6A102 - Darker shade of yellow (used for experience text)
#DB5461 - Indian red (pinkish red)
#E3655B - Fire Opal (light pinkish, red)

**/

body {
  padding: 0;
  box-sizing: border-box;
  background-color: #4c5b5c;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}
